{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=\, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="{% sass_src 'styles/scss/menu.scss' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/css/styles.css' %}">
        <link href="{% static 'styles/index/img/favicon.ico'  %}" rel="icon">
        {% block stylesheets %}
        {% endblock %}
        <title>{% block title %}Soft Apps{% endblock %}</title>
    </head>
    <nav>
        <input type="checkbox" id="burger-toggle">
        <label for="burger-toggle" class="burger-menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
        <div class="menu">
            <div class="menu-inner">
{#                <ul class="menu-nav">#}
{#                    <li class="menu-nav-item"><a class="menu-nav-link" href="{% url 'basic_module' %}"><span>#}
{#            <div>Basics</div>#}
{#          </span></a></li>#}
{#                    <li class="menu-nav-item"><a class="menu-nav-link" href="#"><span>#}
{#            <div>Fundamentals</div>#}
{#          </span></a></li>#}
{#                    <li class="menu-nav-item"><a class="menu-nav-link" href="#"><span>#}
{#            <div>Advanced</div>#}
{#          </span></a></li>#}
{#                    <li class="menu-nav-item"><a class="menu-nav-link" href="#"><span>#}
{#            <div>JS Front End</div>#}
{#          </span></a></li>#}
{#                    <li class="menu-nav-item"><a class="menu-nav-link" href="#"><span>#}
{#            <div>Python Web</div>#}
{#          </span></a></li>#}
{#                </ul>#}
                <div class="gallery">
                    <div class="title">
                        <p>Perks</p>
                    </div>
                    <div class="images">
                        <a class="image-link" href="{% url 'discord_bot' %}">
                            <div class="image" data-label="Discord Bot"><img
                                    src="https://cdn.discordapp.com/attachments/983670671647313930/1081935749462630460/image.png"
                                    alt="discord bot"></div>
                        </a>
                        <a class="image-link" href="{% url 'youtube_lessons' %}">
                            <div class="image" data-label="Video Preparation"><img
                                    src="https://cdn.discordapp.com/attachments/983670671647313930/1122849006234648576/image.png"
                                    alt="python code"></div>
                        </a>
                        <a class="image-link" href="{% url 'example_sites' %}">
                            <div class="image" data-label="Web Examples"><img
                                    src="https://cdn.discordapp.com/attachments/983670671647313930/1122860474690703370/image.png"
                                    alt="web examples"></div>
                        </a>
                        <a class="image-link" target="_blank" href="https://github.com/ceo-py?tab=repositories">
                            <div class="image" data-label="My Git Hub"><img
                                    src="https://cdn.discordapp.com/attachments/983670671647313930/1122858146998784010/image.png"
                                    alt="git hub profile"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </nav>
    <div class="overlay{% if menu_open %} active{% endif %}" style="margin-top: 150px;">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <p>@Soft Apps - 2023. All rights reserved.(Somewhere in near future may be?!)</p>
    </footer>

</html>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var menuToggle = document.getElementById('burger-toggle');
        var overlay = document.querySelector('.overlay');

        menuToggle.addEventListener('change', function () {
            if (menuToggle.checked) {
                overlay.classList.add('active');
            } else {
                overlay.classList.remove('active');
            }
        });
    });
</script>
{% block script %}
{% endblock %}

